<div *ngIf="jersey" align="center">
  <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <tbody>
      <tr>
        <td class="image" rowspan="4" style="width:234px">
          <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
        </td>
        <td class="name" style="width:253px">{{jersey.name}} #{{jersey.number}}</td>
      </tr>
      <tr>
        <td class="size" style="width:253px">{{jersey.size}}</td>
      </tr>
      <tr>
        <td class="price" style="width:253px">${{jersey.price}}</td>
      </tr>
    </tbody>
  </table>

  <label for="tentacles">Qty: </label>
  
  <input type="number" id="quantity" name="quantity"
       min="1" max="100">

  <br>

  <button type="button" class="badge" (click)="goBack()">Back</button>
  <button type="button" class="badge" (click)="goBack()">Add to Cart</button>
</div>