<div *ngIf="selectColorMode() == 'default'"class="topnav" style="background-color: #aa0404">
  <a routerLink="/jerseys">Jerseys</a>
  <a routerLink="">Logout</a>
  <a routerLink="/cart" style-float="right">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>

</div>

<br>

<div *ngIf="selectColorMode() == 'deuteranopia'" class="topnav" style="background-color: #1100ff;">
  <a routerLink="/jerseys">Jerseys</a>
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>

<div *ngIf="selectColorMode() == 'protanopia'" class="topnav" style="background-color: #ff8c00;">
  <a routerLink="/jerseys">Jerseys</a>
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>

<div *ngIf="selectColorMode() == 'high contrast'" class="topnav" style="background-color: #000000;">
  <a routerLink="/jerseys">Jerseys</a>
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>


<br>




<div *ngIf="jersey" align="center">
  <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <tbody>
      <tr>
        <td class="image" rowspan="4" style="width:234px">
          <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
        </td>
        <td class="name" style="width:253px">{{jersey.name}} #{{jersey.number}}</td>
      </tr>
      <tr>
        <td class="size" style="width:253px">{{jersey.size}}</td>
      </tr>
      <tr>
        <td class="price" style="width:253px">${{jersey.price}}</td>
      </tr>
    </tbody>
  </table>

  <label for="quantity">Qty: </label>
  
  <input type="number" id="quantity" name="quantity"
       min="1" max="100" #quantity>

  <br>

 
  <button *ngIf = "selectColorMode() == 'default'" class = "options-button" type="button" (click)="goBack()">Back</button>
  <button *ngIf = "selectColorMode() == 'deuteranopia'" class = "options-button-d" type="button" (click)="goBack()">Back</button>
  <button *ngIf = "selectColorMode() == 'protanopia'" class = "options-button-p"  type="button" (click)="goBack()">Back</button>
  <button *ngIf = "selectColorMode() == 'high contrast'" class = "options-button-hc"  type="button" (click)="goBack()">Back</button>
  <!--Change these 1 to be the cart id and jersey ids, not sure how to get it-->
  <button *ngIf = "selectColorMode() == 'default'" class = "options-button" type="button" (click)="addToCart(jersey, quantity.value);">Add to Cart</button>
  <button *ngIf = "selectColorMode() == 'deuteranopia'" class = "options-button-d" (click)="addToCart(jersey, quantity.value);">Add to Cart</button>
  <button *ngIf = "selectColorMode() == 'protanopia'" class = "options-button-p" (click)="addToCart(jersey, quantity.value);">Add to Cart</button>
  <button *ngIf = "selectColorMode() == 'high contrast'" class = "options-button-hc" (click)="addToCart(jersey, quantity.value);">Add to Cart</button>
</div>