<div class="topnav">
  <a routerLink="/jerseys">Jerseys</a>
  <a routerLink="">Logout</a>
  <a routerLink="/cart" style-float="right">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>

</div>

<br>

<div *ngIf="jersey" align="center">
  <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <tbody>
      <tr>
        <td class="image" rowspan="4" style="width:234px">
          <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
        </td>
        <td class="name" style="width:253px">{{jersey.name}} #{{jersey.number}}</td>
      </tr>
      <tr>
        <td class="size" style="width:253px">{{jersey.size}}</td>
      </tr>
      <tr>
        <td class="price" style="width:253px">${{jersey.price}}</td>
      </tr>
    </tbody>
  </table>

  <label for="quantity">Qty: </label>
  
  <input type="number" id="quantity" name="quantity"
       min="1" max="100" #quantity>

  <br>

  <button type="button" class="badge" (click)="goBack()">Back</button> <!--Change these 1 to be the cart id and jersey ids, not sure how to get it-->
  <button type="button" class="badge" (click)="addToCart(jersey, quantity.value);">Add to Cart</button>
</div>