<a routerLink="">Logout</a>
<h1 style = "color: #aa0404; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Inventory Management</h1>
<h3>Current Inventory:</h3>

<div>
    <table class="jerseys">
      <ng-container *ngFor="let jersey of jerseys">
        <td>
            <div class = "jersey">

                <a routerLink="/detail/{{jersey.id}}">
                    <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
                    <button class = jerseyButton>&#10006;</button>
                </a>
            </div>
          <table class="info">
            <th class="name">{{jersey.name}} {{jersey.number}}</th>
            <th class="size">{{jersey.size}}</th>
          </table> 
          <span class="price-badge">${{jersey.price}}</span> 
        </td>
      </ng-container>
    </table>
  </div>


<button (click) = "showAdd = !showAdd" (click) = "showModify = false"type="button" class="options-button">Add Jersey</button>
<!-- <button (click) = "showModify = !showModify" (click) = "showAdd = false" class="options-button">Modify Jersey</button> -->
<div *ngIf="showAdd">
    <form>
        <h3>Add Jersey</h3>
        <input placeholder="Name" id="new-name" #jerseyName/>
        <input placeholder="Number (1-99)" id="new-number" type="number" min="0" max="100" #jerseyNumber/>
        <input placeholder="Price" id="new-price" type="number" min="0" max="999.99" #jerseyPrice/> <!--Bug here user can still type in words-->
        <input placeholder="Color" id="new-color" #jerseyColor/>
        <input placeholder="Image" id="new-image" #jerseyImage/>
        <input id = "small" type = "radio" value = "S" name = "size" ngModel name="size" #size="ngModel"/>
        <label for="small">S </label>
        <input id = "medium" type = "radio" value = "M" name = "size" ngModel name="size" #size="ngModel"/>  <!--Bug here need to be able to get any from radio input-->
        <label for="small">M </label>
        <input id = "large" type = "radio" value = "L" name = "size" ngModel name="size" #size="ngModel"/>
        <label for="small">L </label>
        <button (click) ="add(jerseyName.value, jerseyNumber.value, jerseyPrice.value, jerseyColor.value, size.value, jerseyImage.value); jerseyNumber.value='' ; jerseyName.value=''; jerseyImage.value=''; jerseyColor.value=''; jerseyPrice.value=''; ">Submit</button>
    </form>
</div>

<!-- <div>
    <table class="jerseys">
      <ng-container *ngFor="let jersey of jerseys">
        <td>
          <a routerLink="/detail/{{jersey.id}}">
            <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
          </a>
          <table class="info">
            <th class="name">{{jersey.name}} {{jersey.number}}</th>
            <th class="size">{{jersey.size}}</th>
          </table> 
          <span class="price-badge">${{jersey.price}}</span> 
        </td>
      </ng-container>
    </table>
  </div> -->


<!-- <div *ngIf="showModify">
    <form>
        <h3>Modify Jersey</h3>
        <input placeholder="Name" id="new-jersey" #jerseyName/>
        <input placeholder="Number (0-99)"/>
        <input placeholder="Price"/>
        <input placeholder="Color"/>

        <input id = "small" type = "radio" value = "S" name = "size"/>
        <label for="small">S </label>
        <input id = "medium" type = "radio" value = "M" name = "size"/>
        <label for="small">M </label>
        <input id = "large" type = "radio" value = "L" name = "size"/>
        <label for="small">L </label>
    </form>
</div> -->

<!-- <button type="button" class="options-button" (click)="add(jerseyName.value); jerseyName.value=''">Add Jersey</button> -->

