h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.nav-login {
    text-align: center;
    padding: 0 16px;
    font-size: 0;
}

.login-button {
    color:white;
    background-color: #aa0404;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login-button:hover {
    background-color: #a04545;
  }

.colorblindess-dropdown {
    text-align: right;
}

.cb-dropdown {
    height: 45px; 
    border: 1px solid gray; 
    text-align: center;
    margin: 10px;
}

.login-button-deuteranopia {
    color:white;
    background-color: #1100ff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login-button-deuteranopia:hover {
    background-color: #456ca0;
  }

  .login-button-hc {
    color:white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login-button-hc:hover {
    background-color: rgb(80, 80, 80);
  }

  .login-button-protanopia {
    color:white;
    background-color: #ff8c00;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login-button-protanopia:hover {
    background-color: #b48249;
  }
