h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.nav-login {
   position: relative;
   left: 640px;
   bottom: 140px;
}

.login-button {
    transition: 0.4s;
    width: 255px;
}
