<h1 style="color: #aa0404; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Chicago Blackhawks
</h1>
<h2>Login page</h2>
<div class="user-form">
    Username:
    <form (ngSubmit)="isAdmin()">
        <form (ngSubmit)="isAdmin(); login(onSubmit())">
            <input [(ngModel)]="username" name="username" placeholder="username">
        </form>
    </form>
</div>

<div class="nav-login">
    <button class="login-button" (click)="isAdmin(); login(onSubmit());">Login As Existing Customer</button>
    
</div>

<div class = "nav-login">
    <button type="create-new-acc-button" value="Create A New Account" (click)=" createNewCustomer(onSubmit());">Create A New Account</button>
    
</div>