h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.nav-login {
    text-align: center;
    padding: 0 16px;
    font-size: 0;
}

.login-button {
    color:white;
    background-color: #aa0404;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login-button:hover {
    background-color: #a04545;
  }

.colorblindess-dropdown {
    text-align: right;
}
