

<h1 *ngIf = "isDefault()"style="color: #aa0404; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; align-items: center;">
    Chicago Blackhawks
</h1>

<h1 *ngIf = "isDeuteranopia()" style="color: #1100ff; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; align-items: center;">
    Chicago Blackhawks
</h1>

<h1 *ngIf = "isProtanopia()" style="color: #ff8c00; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; align-items: center;">
    Chicago Blackhawks
</h1>

<h1 *ngIf = "isHighContrast()" style="color: #000000; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; align-items: center;">
    Chicago Blackhawks
</h1>



<h2>Login page</h2>

<div class="user-form">
    Username:
    <form (ngSubmit)="isAdmin()">
        <form (ngSubmit)="isAdmin(); login(onSubmit())">
            <input [(ngModel)]="username" name="username" placeholder="username">
        </form>
    </form>
</div>

<div class="nav-login">
    <button *ngIf = "isDefault()" class="login-button" (click)="isAdmin()">Sign in</button>
    <button *ngIf = "isDeuteranopia()" class="login-button-deuteranopia" (click)="isAdmin()">Sign in</button>
    <button *ngIf = "isProtanopia()" class="login-button-protanopia" (click)="isAdmin()">Sign in</button>
    <button *ngIf = "isHighContrast()" class="login-button-hc" (click)="isAdmin()">Sign in</button>
</div>

<div style="text-align: center;">
    <select [(ngModel)] = "colorOption" class="cb-dropdown">
        <option value="">Color</option>
        <option value="deuteranopia">Deuteranopia</option>
        <option value="protanopia">Protanopia</option>
        <option value="high-contrast">High Contrast</option>
    </select>
</div>