<div *ngIf="selectColorMode() == 'default'"class="topnav" style="background-color: #aa0404">
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>

<div *ngIf="selectColorMode() == 'deuteranopia'" class="topnav" style="background-color: #1100ff;">
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>

<div *ngIf="selectColorMode() == 'protanopia'" class="topnav" style="background-color: #ff8c00;">
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>

<div *ngIf="selectColorMode() == 'high contrast'" class="topnav" style="background-color: #000000;">
  <a routerLink="">Logout</a>
  <a routerLink="/cart">
    <img src="assets/cart.png" alt="cart image" height="15" width="20">
  </a>
</div>

<div>
    <table class="cart">
      <ng-container *ngFor="let jersey of getTheCartTest">
        <tr> 
          <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
          <table class="info">
            <th class="name">{{jersey.name}} {{jersey.number}}</th>
            <th class="size">{{jersey.size}}</th>
          </table> 
          <span class="price-badge">${{jersey.price}}</span> 
          <button type="button" class="badge" (click)="removeJerseyFromCart(jersey);ngOnInit()">Remove from Cart</button>
        </tr>
      </ng-container>
    </table>
  </div>

<div id="mybutton">
    <a routerLink="/checkout">
      <button *ngIf = "selectColorMode() == 'default'" class = "options-button">Checkout</button>
      <button *ngIf = "selectColorMode() == 'deuteranopia'" class = "options-button-d" >Checkout</button>
      <button *ngIf = "selectColorMode() == 'protanopia'" class = "options-button-p">Checkout</button>
      <button *ngIf = "selectColorMode() == 'high contrast'" class = "options-button-hc">Checkout</button>
      <button class="checkout">Checkout: ${{getTotalCost}}</button>
    </a>
</div>

