<div class="topnav">
    <a routerLink="/jerseys">Jerseys</a>
    <a routerLink="">Logout</a>
  
</div>

<div>
    <table class="cart">
      <ng-container *ngFor="let jersey of cart">
        <tr>
          <img src={{jersey.image}} alt={{jersey.name}} height="300" width="300">
          <table class="info">
            <th class="name">{{jersey.name}} {{jersey.number}}</th>
            <th class="size">{{jersey.size}}</th>
          </table> 
          <span class="price-badge">${{jersey.price}}</span> 
          <button type="button" class="badge" (click)="removeJerseyFromCart(jersey)">Remove from Cart</button>
        </tr>
      </ng-container>
    </table>
  </div>

<div id="mybutton">
    <a routerLink="/checkout">
        <button class="checkout">Checkout: ${{getTotalCost()}}</button>
    </a>
</div>

